@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  //background-color: rgb(248, 248, 248);
  background-color: rgb(248, 239, 233);

  //position: relative;
  color: #4b4b4b;
  height: 100vh;
  width: 100vw;

}

.dashboardBody {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.uk-navbar-nav {
  a.active {
    color: #555;
    font-weight: bolder;
  }
}

.uk-subnav {
  a.active {
    color: #555;
    font-weight: bolder;
  }
}

.mainnav{
  padding-left: 20px;
}