@import "~@fortawesome/fontawesome-free/css/all.css";
$bgColor: #f8f5f4;
$borderColor: #e4d7cc;

html,body {
  //background-color: rgb(248, 248, 248);
  background-color: $bgColor;

  //position: relative;
  color: #4b4b4b;
  height: 100%;
}

.dashboardBody {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.uk-navbar-nav {
  a.active {
    color: #555;
    font-weight: bolder;
  }
}

.uk-subnav {
  a.active {
    color: #555;
    font-weight: bolder;
  }
}

.mainnav {
  padding-left: 20px;
  border-bottom: 1px solid $borderColor;
}

.pad10 {
  padding: 10px;
}

.itemList {
  //max-width: 300px;
  background-color: white;
  margin-top: 10px;
  border: 1px solid $borderColor;
  display: block;

  li {
    padding: 15px;
    cursor: pointer;
    margin: 0 !important;

    //background-color: #e5ffff;
    border-top: 1px solid $borderColor;
    //border-bottom: 1px solid $borderColor;

    &.selected {
      background-color: #3fc3ee;
    }

    &.active {
      background-color: #a5dc86;
    }
  }
}

section {
  background-color: white;
  padding: 15px;
}